{% extends "base.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
.container-pojok {
    position: relative;
}

.pojok-kanan {
    position: absolute;
    right: 2em;
    top: 1em;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

#favourite_count {
    position: relative;
    left: -2.5em;
    /* top: em; */
}

.big-star {
    min-width: 4em;
}
</style>

<div class="container">
    <div class="panel text-center container-pojok" id="header">
        <div>
            <span class="invisible">0</span>
            <img class="big-star mb-3" src="/static/star-light.svg"/>
            <span id="favourite_count">0</span><br/>
        </div>
        <div class="d-none d-lg-block pojok-kanan text-right">
            {% if user.is_authenticated %}
                <img src="{{ request.session.image_url }}"><br/>
                <span class="teks-besar"><strong>Selamat datang, {{ user.first_name }}</strong></span><br/>
                <a role="button" href="/logout/"
                class="bg-light btn btn-outline-danger">Logout</a>
            {% else %}
                <a role="button" href="/login/"
                class="mt-3 mr-4 bg-light btn btn-outline-success">Login</a>
            {% endif %}
        </div>
        <div class="d-lg-none">
            {% if user.is_authenticated %}
                <img src="{{ request.session.image_url }}"><br/>
                <span class="teks-besar"><strong>Selamat datang, {{ user.first_name }}</strong></span><br/>
                <a role="button" href="/logout/"
                class="bg-light btn btn-outline-danger">Logout</a>
            {% else %}
                <a role="button" href="/login/"
                class="bg-light btn btn-outline-success">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="panel p-5">
        <h1 class="text-center">Koleksi Buku Menarik</h1>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Kategori" aria-label="Kategori" aria-describedby="button-kategori" id="kategori">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-kategori" onclick="searchCategory()">Cari</button>
            </div>
        </div>

        <table class="table table-light table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Judul</th>
                <th scope="col">Penulis</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Favorit</th>
            </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </ttable>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
